# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv
renv/library/
renv/staging/
.Rprofile

# --- Datos (nunca a Git) ---
data_raw/*
data_int/*
data_out/*

!data_raw/.gitkeep
!data_int/.gitkeep
!data_out/.gitkeep

# permitir README dentro de esas carpetas
!data_raw/README.md
!data_int/README.md
!data_out/README.md

# --- Binarios pesados genéricos ---
*.fst
*.parquet

# Temporales y otros
*.tmp
*.log
.DS_Store

