# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv
renv/library/
renv/staging/
.Rprofile

# Datos (nunca a Git)
data_raw/
data_int/
data_out/*.fst
data_out/*.parquet
data_out/*.csv

# Archivos binarios pesados genéricos
*.fst
*.parquet

# Temporales y otros
*.tmp
*.log
.DS_Store
